body{
    margin: 0;
}
header{
    background-color: rgba(250, 235, 215, 0.228);
    background-image: url(images/header_bg.png);
    background-size: 650px 400px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 100px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
nav button{
    background-color: bisque;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
}
.nav-head{
    font-size: 60px;
}
span{
    color: orange;
}
.banner{
    padding: 0px 20px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    font-size: 35px;
}
.second{
    font-size: 55px;
}
.btn1{
    background-color: bisque;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
    margin-right: 31px;
}
.btn2{
    background-color: rgba(255, 228, 196, 0.116);
    border: 1px solid orange;
    padding: 15px 40px;
    border-radius: 4px;
}
.content{
    max-width: 450px;
}
.about{
    background-color: rgba(239, 18, 209, 0.043);
    padding: 70px;
    border-radius: 25px;
    margin-bottom: 80px;
}
main{
    max-width: 1140px;
    margin: 60px auto;
}
.about h2{
    text-align: center;
}
.about p{
    text-align: center;
}
.third{
    display: flex;
    justify-content: space-around;
}
#whatt{
    margin-left: 121px;
    margin-right: 121px;
}
.what h2{
    text-align: center;
}
.what p{
    text-align: center;
}
.skills{
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
    margin-bottom: 71px;
}
.skill{
    width: 221px;
    padding: 21px;
    box-shadow: 0px 6px 51px 0px rgba(0, 0, 0, 0.096);
}
.skill p{
    text-align: justify;
}
.summ{
    text-align: center;
}
.resume{
    display: flex;
    gap: 61px;
}
.item{
    margin-top: 41px;
}
.education{
    margin-left: 81px;
}
.exp{
    margin-right: 81px;
}
.item h3,p,hr {
    color: rgba(0, 0, 0, 0.443);
}
.btnn{
    text-align: center;
    margin-top: 35px;
}
.btnn button{
    background-color: bisque;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
}
.columnn{
    width: 50%;

}
.social a{
    padding-right: 10px;
}
footer{
    display: flex;
    gap: 88px;
    background-color: rgba(245, 245, 220, 0.317);
    padding: 100px 200px;
}
form input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 10px;
}

