nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
nav button{
    background-color: bisque;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
}
.nav-head{
    font-size: 60px;
}
span{
    color: orange;
}